@model Server.Models.Product
@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete</h2>

<form asp-action="Delete" method="post">
    <input asp-for="ProductId" type="hidden" />
    Product Name: <input class="form-control" asp-for="Name" readonly/> <br />
    Category: <input class="form-control" asp-for="Category" readonly/> <br />
    Price: <input class="form-control" asp-for="UnitPrice" readonly/> <br />
    Color: <input class="form-control" asp-for="Color" readonly/> <br />
    Stock: <input class="form-control" asp-for="AvailableQuantity" readonly/> <br />

    <input type="submit" value="Delete" class="btn btn-danger">
    <a href="/product" class="btn btn-outline-primary">Back</a>
</form>